body {
  background: #eef4f5;
}
.card {
  margin-bottom: 50px;
  border: 1px solid rgb(126, 189, 218);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.212);
}
.card-header h1 {
  text-align: center;
}
.card-header {
  background-color: rgb(124, 202, 238);
  color: #ffffff;
}

fieldset .row input,
fieldset .row textarea,
fieldset .row select {
  border: 1px solid rgb(126, 189, 218);
}

figure.image-preview-container {
  border: 1px solid rgb(126, 189, 218) !important;
}

.form-control,
.form-select,
.btn {
  border-radius: 8px; /* Cantos arredondados mais suaves */
}

.btn-primary {
  /* Sombra para dar um efeito de "botão real" */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.274);
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secondary {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.274);
  font-weight: bold;
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview-container {
  /* Sombra para o box de pré-visualização */
  box-shadow: inset 0 2px 4px rgba(163, 14, 14, 0.05);
  border-radius: 8px;
  min-height: 200px; /* Garante que tenha uma altura mínima */
  background-color: #f8f9fa; /* Um fundo levemente cinza */
}

fieldset:nth-last-child(3) {
  margin-bottom: 80px;
}

.buttons {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
