body {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}
.card {
  box-shadow: 0 10px 20px rgba(49, 93, 235, 0.185);
  text-align: center;
}
.card-header h4 {
  color: #005085;
}
.table th {
  color: #005085;
  border: #057ccd;
}

.table-striped > tbody > tr:nth-of-type(odd) > td {
  color: #005085;
  background-color: rgb(224, 239, 250);
}
.table-striped > tbody > tr:nth-of-type(even) > td {
  color: #005085;
  background-color: rgb(187, 207, 221);
}
.table-striped > tbody > tr:hover > td {
  color: #292929 !important;
  background-color: rgb(219, 219, 219) !important;
}
