.card {
  box-shadow: 0 10px 30px #005085;
  text-align: center;
}
.card-header h4 {
  color: #005085;
}
.table th {
  color: #005085;
  border: #057ccd;
}

.table:hover {
  border: #41b3ff;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: #005085;
  --bs-table-bg-type: rgba(137, 193, 233, 0.4);
}
.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-color-type: #005085;
  --bs-table-bg-type: rgba(6, 130, 219, 0.4);
}
.table-striped > tbody > tr:hover td {
  --bs-table-color-type: #006ab1;
  --bs-table-bg-type: rgba(6, 130, 219, 0.4);
}
