.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/background/fundo5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
input {
  box-shadow: 0 2px 8px #00000054;
}
.login-panel {
  background-color: #ffffff62;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.logo-side {
  background-color: #ffffff62;
  color: rgb(0, 0, 0);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}

.logo-side img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.input-group .btn-outline-secondary {
  background-color: #ffffff;
  color: #009fe9;
}
